{% extends "base.html" %}

{% block content %}
{% if current_user.is_anonymous %}
<h1>Hi!</h1>
<p>Log in to chat</p>
{% else %}
<h1>Hi, {{ current_user.username }}!</h1>
<form action="" method="post" class="form-inline" novalidate>
    <p>
        {{ form.hidden_tag() }}
        {{ form.username(class="form-control mr-sm-2", style="width: 250px", type="search", placeholder="Search") }}
        {{ form.submit(class="btn btn-outline-success my-2 my-sm-0")}}

    </p>
</form>
{% endif %}

{% endblock %}